/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("Tahoma", "../fonts/TahomaBold/Tahoma-Bold", 700, normal, eot ttf woff);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);
@include font-face("GeorgiaItal", "../fonts/Georgia/GeorgiaItal", 400, italic, eot ttf woff woff2);
@include font-face("CenturyGothic", "../fonts/CenturyGothic/GOTHIC", 400, normal, eot ttf woff woff2);

/*********************************************/
/*NORMOLIZE*/
/*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  background: #fff;
  font-family: 'Tahoma', sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-page {
  margin-top: auto;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.open-menu-min, .open-menu-main {
  display: none;
}

html {
  font-size: 1px;
}

.container {
  padding-right: 10px !important;
  padding-left: 10px !important;

  &:before {
    content: none;
  }
}

.serv-baner-item, .services-baner > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-baner > .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

.wrapperBlock {
  position: relative;
  width: 100%;
  height: 100%;

}

.blackWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(51, 51, 51, 0.52);

  z-index: 999;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.main {
  padding-top: 18px;
}

.banner-sect {
  display: flex;
}

.banner-sect__carousel {
  width: 75%;
  padding-right: 5px;
  max-height: 500px;
  overflow: hidden;
}

.banner-sect__prev-category {
  width: 25%;
  display: flex;
}

.main-banner__item {
  position: relative;
}

.main-banner__img {
  padding-bottom: 56%;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}

.link-btn-categ.main-banner__btn {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 3;
  width: 200px;
  text-transform: uppercase;
  bottom: 7%; /////25px
}

.prev-banner {
  position: relative;
}

.prev-banner {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.prev-banner__item {
  flex: 1;
  display: flex;
  margin-bottom: 5px;
  &:last-child {
    margin: 0;
  }
}

.prev-ban-item {
  height: 100%;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 15px;
  display: flex;
  padding-bottom: 25px;
}

.prev-ban-item__desc {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 110px;
}

.prev-ban-item__img {
  width: 50%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  position: relative;
}

.prev-ban-item__text {
  font-size: 18rem;
  margin-bottom: 1.1em;
}

.link-btn-categ {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: transparent;
  width: 100%;
  font-size: 12px;
  border: 1px solid $black;

  transition: background .3s, color .3s;

  &:hover {
    background: $black;
    color: #fff;
  }
}

.link-btn-categ__ico {
  font-size: 10px;
  padding-left: 5px;
  margin-top: -1px;
}

.brend-baner {
  position: relative;
}

.brand-baner__wp-img { ///////////////////////////////
  padding-bottom: 40%;
  //width: 50%;
  position: relative;
  z-index: 10;
}

.brand-baner__pic {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: auto;
  max-height: 100%;
}

.prev-ban-item__pic {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: auto;
  max-height: 100%;

}

.brand-baner {
  padding: 20px 0;
  max-height: 120px;
  overflow: hidden;
}

.main-banner__slider,
.brand-baner__slider {

  position: relative;
  .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    z-index: 999;

    .owl-prev {
      float: left;
      position: relative;
      width: 30px;
      height: 50px;
      background-color: #202020;

      font-weight: bold;
      line-height: 1;
      font-size: 38px;
      transition: all 0.2s;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 13px;
        height: 17px;
        background: url("../image/arrowForSliderLeft.svg") 50% 50% no-repeat;

      }

      &:hover {
        transition: all 0.2s;
        background-color: #fff;
        &:before {
          background: url("../image/arrowForSliderLeftHover.svg") 50% 50% no-repeat;
        }
      }

    }

    .owl-next {
      float: right;
      position: relative;
      width: 30px;
      height: 50px;
      font-weight: bold;
      background-color: #202020;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 13px;
        height: 17px;
        background: url("../image/arrowForSliderRight.svg") 50% 50% no-repeat;

      }

      &:hover {
        transition: all 0.2s;
        background-color: #fff;
        &:before {
          background: url("../image/arrowForSliderRightHover.svg") 50% 50% no-repeat;
        }
      }

    }
  }
}

.brand-baner__slider.owl-carousel .owl-stage-outer {
  //margin: 0 40px;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.banner-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.banner-list__item {
  flex: 1 1 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.banner-list__link {
  display: block;
  padding-bottom: 48%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    background-color: transparent;
    transition: background-color .3s;
  }

  &:hover {
    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.banner-list__img {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-items: flex-start;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
  justify-content: flex-end;
}

.banner-list__title {

  display: block;
}

.banner-list__desc {
  display: block;
  text-align: center;
  font-size: 24px;
}

.banner-list__sub {
  font-size: 36px;
  text-transform: uppercase;
}

.banner-list__desc {
  max-width: 300px;
  line-height: 1.2;
}

.banner-list__item.banner-list__item--full-w {
  flex: 1 1 100%;
  .banner-list__title {
    font-size: 30px;
  }
  .banner-list__sub {
    font-size: 48px;
  }
  .banner-list__img {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  .banner-list__desc {
    max-width: 70%;
  }
  .banner-list__link {
    padding-bottom: 24%;
  }
}

.banner-bnt-text__title {
  font-size: 24px;
  line-height: 1.4;
}

.banner-bnt-text__sub {
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  & > span {
    display: block;
  }
}

.banner-bnt-text {
  text-align: center;
}

.banner-bnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px 60px;
}

.banner-bnt__img, .banner-bnt__desc, .banner-bnt__btn-group {
  flex: 1;
}

.btn-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid $black;
  transition: color .3s, background-color .3s;

  &:hover {
    background-color: $black;
    color: #fff;
  }
}

.banner-bnt__btn__item:not(:last-child) {
  margin-bottom: 15px;
}

.banner-bnt__btn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner-bnt__desc {
  flex: 1.5;
  padding: 0 10px;
}

.main_banner-list {
  margin-bottom: 20px;
}

.category-item {
  display: block;

  &:hover {
    .category-item__mark {
      opacity: 1;
    }
    .category-item__title {
      text-decoration: underline;
    }
  }
}

.category__item-img {
  position: relative;
  padding-bottom: 100%;
  display: block;
  background-color: #f4f4f4;
}

.category-item__mark {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  color: #fff;
  font-size: 18px;
  transition: opacity .3s;
  opacity: 0;
  width: 100%;
  height: 40px;
  z-index: 3;

}

.category-item__pic {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-height: 100%;
}

.category-item__title {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1.1em 0;
  font-size: 16rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-stroke: .02em;
  color: #000;
}

.category-list__item {
  margin-bottom: 20px;
}

.description-sect {
  width: 100%;
  margin-top: 53px; //////////////
  box-sizing: border-box;
  padding-top: 15rem;
  padding-bottom: 30rem;
  border-top: 1px solid $color_pink;
  h1, h2, h3, div {
    font-family: $Tahoma;
    margin-bottom: 1.3em;
    font-size: 24rem;
    line-height: 1.4;
  }
  p {
    font-family: $Tahoma;
    font-size: 16rem;
    line-height: 1.4;
    margin-bottom: 1.2em;
    &:last-child {
      margin: 0;
    }
  }
}

.top-panel-footer {
  position: relative;
  padding: 10px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

.social-list__wrapper {
  position: relative;
  display: inline-block;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 4px;
}

.social-btn {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../image/sprite2/soc.png');
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity .3s;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.social-btn.social-btn--fb {
  background-position: -20px -20px;
}

.social-btn.social-btn--in {
  background-position: -20px -90px;
}

.social-btn.social-btn--goo {
  background-position: -90px -20px;
}

.social-btn.social-btn--p {
  background-position: -90px -90px;
}

.social-btn.social-btn--y {
  background-position: -160px -20px;
}

.mail-form__label {
  display: none;
}

.mail-form {
  display: flex;
  align-items: center;
  ::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  ::-moz-placeholder {
    text-transform: uppercase;
  }
  :-moz-placeholder {
    text-transform: uppercase;
  }
  :-ms-input-placeholder {
    text-transform: uppercase;
  }
}

.mail-form__text {
  max-width: 225px;
  line-height: 1.2;
  font-size: 12px;
}

.mail-form__input {
  display: block;
  width: 400px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16rem;
  padding: 0 10px;
  height: 30px;
}

.top-panel-footer__soc-list {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.top-panel-footer__soc-text {
  font-size: 16rem;
  margin-right: .8em;
}

.mail-btn {
  display: flex;
  align-items: center;
  background: $black;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 16px;
  outline: none;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: background-color .3s;

}

.mail-btn:hover {
  background: $red;
  text-decoration: underline;
}

.mail-btn__ico {
  margin-right: 16px;
  display: block;
  //background-position: center;
  background-repeat: no-repeat;
  background-image: url('../image/sprite2/main-ico.png');
  width: 23px;
  height: 15px;
  background-position: -150px -20px;
}

.mail-form__btn {
  margin-right: 15px;
}

.footer-desc {
  padding-top: 45px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.h3-title {
  color: #000;
  font-size: 16rem;
  text-transform: uppercase;
  -webkit-text-stroke: .03em #000;
  text-stroke: .03em #000;

}

.foot-info-list__title {
  margin-bottom: 12px;
}

.list-info__item:not(:last-child) {
  margin-bottom: 10px;
}

.list-info__link {
  font-size: 16rem;
  &:hover {
    text-decoration: underline;
  }
}

.foot-info-list__desc {
  margin-bottom: 34px;
}

.foot-info-list__text {
  display: block;
  margin-bottom: 10px;
  font-size: 16rem;
  text-transform: uppercase;
  &:last-child {
    margin-bottom: 0;
  }
}

.foot-cont-list__item:not(:last-child) {
  margin-bottom: 7px;
}

.foot-info-list__it {
  margin-bottom: 34px;
}

.foot-cont-list__link {
  font-size: 16rem;
}

.list-info-double {
  font-size: 16rem;

}

.list-info-double__item:not(:last-child), .list-info-double__sub-item:not(:last-child) {
  margin-bottom: 8px;
}

.list-info-double__tit {
  margin-bottom: 8px;
  display: block;
}

.foot-info-list__list {
  margin-bottom: 34px;
}

.line-anchor {
  display: flex;
  height: 40px;
  border-top: 1px solid #dfdfdf;
  background-image: url('../image/up_background.png');
  & > .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.link-top {
  display: inline-flex;
  align-items: center;
  font-size: 1px;
  &:after {
    content: "";
    border: 6em solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8em;
    height: 8em;
    border-right: none;
    border-bottom: none;
    margin-top: 7px;
  }
}

.link-top__text {
  font-size: 14px;
  margin-right: 8px;
}

// CATEGORY

.bl_breadcrumbs {
  margin-top: 14px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    color: $color_grey;
    font-family: $Tahoma;
    font-size: 12px;

    &:not(:nth-of-type(1)):before {
      content: "»";
      position: absolute;
      left: -15px;

    }
  }
  &__link {

    display: block;
    width: 100%;

    &:hover {
      color: #000;
    }
  }
  &__active {
    font-weight: bold;
  }

}

.rubric__title {
  margin: 19px auto 0;
  width: 100%;

  &:hover {
    .rubric__title_button {
      color: $color_pink;
    }

    .rubric__title_text {
      text-decoration: underline;
    }
  }

}

.rubric__title_button {
  display: inline-block;
  width: 24px;
  height: 24px;

  &:after {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 24px;
    content: "\f0c9";
    font-family: $FontAwesom;
    background: none;
    border: 1px solid black;
  }
}

.rubric__title_button__filters {
  &:after {
    content: "\f0b0";
    font-family: $FontAwesom;
  }
}

.rubric__title_button.rubric__title_buttonHidden {
  display: none;
}

.rubric__title_text {
  display: inline-block;
  text-align: left;
  font-family: $Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.rubric__title_decorate {
  letter-spacing: 2px;
}

.rubric__title_margin {
  margin-left: -3px;
}

.rubric__title_margin__filters {
  margin-left: 24px;
}

.bl_filters {
  position: relative;
  //width: 232px;
  margin-top: 20px;
  font-family: $Tahoma;
  box-sizing: border-box;
  //border: 1px solid red;
}

.bl_filters__caterogyName,
.bl_filters__caterogyName_active {
  position: relative;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: $color_pink;
    transition: all 0.2s;
  }
}

.bl_filters__caterogyName_active {
  color: $color_pink;
  font-size: 14px;
}

.filter_name {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: $color_pink;
  font-weight: bold;
  cursor: pointer;
}

.decor_triangle {
  position: relative;

  &:before {
    font-size: 16px;
    color: inherit;
    position: absolute;
    left: -15px;
    top: 0;
    content: "\f0da";
    font-family: "FontAwesome";
    transition: all 0.2s;
  }

  &__active {
    position: relative;
    &:before {
      font-size: 16px;
      color: inherit;
      position: absolute;
      left: -15px;
      top: 0;
      content: "\f0da";
      font-family: "FontAwesome";
      transform: rotate(90deg);
      transition: all 0.2s;
    }
  }
}

.decor_triangle__socButton{
  position: relative;


  &:before{
    position: absolute;
    left: -6px;
    top: 8px;
    content: "";
    @include triangle(left, 6px, #ccc);
    z-index:5;
  }


}



.bl_filters__item {
  position: relative;
  padding-left: 14px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: $color_pink;
    transition: all 0.2s;
  }

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color_pink2;
  }
}

.bl_filters__allFilters {

  margin-top: 37px;
  min-height: 708px;
  background-color: $color_lightWhite;

  &_wrapper {
    padding: 20px 14px;
  }
}

.bl_filters__subList {
  margin-top: 2px;
}

.bl_filters__caterogyName_subName {
  font-size: 12px;
  font-weight: 400;
}

.bl_filters__minPrice, .bl_filters__maxPrice {
  width: 70px;
  height: 30px;
  display: inline-block;
}

.filters_item {
  position: relative;
}

.bl_filter__checkbox {
  position: absolute;
  opacity: 0;
  //z-index: 99;
}

.bl_filter__checkbox:checked + .bl_filter__label .decor_lickCheckbox:after {
  position: absolute;
  left: 2px;
  content: "\f00c";
  width: 100%;
  height: 100%;
  font-family: $FontAwesom;
  font-size: 14px;
  font-weight: 400;
  color: #282b32;
  z-index: 4;
}

.decor_lickCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #efefef;
  border: 1px solid red;
  background-color: #ffffff;
  z-index: 3;
}

.filter_text {
  margin-left: 15px;
  line-height: 17px; ////////
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  &__active {
    transition: all 0.2s;
    color: $color_pink;
  }

  &:hover {
    color: $color_pink;
    transition: all 0.2s;
  }
}

.bl_category__products {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.bl_category__allCategories,
.bl_category__filters {
  cursor: pointer;
}

.bl_view {
  margin-top: 16px;
  width: 100%;

}

.bl_view__text {

  height: 16px;
  font-size: 16px;
}

.bl_sorter {
  display: inline-block;
}

.bl_sorter__select {
  width: 206px;
  height: 25px;
  border: 1px solid black;
}

.bl_numberOfItemShow {
  margin-left: 7%; ////////
  display: inline-block;
}

.bl_numberOfItemShow__select {
  width: 162px;
  height: 25px;
  border: 1px solid black;
  text-indent: 10px;
}

.bl_positionSorted {
  position: relative;
  float: right;

  &__ratio {
    position: absolute;
    opacity: 0;
  }

  &__button {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
  }
}

.bl_positionSorted__ratio:checked + .bl_positionSorted__label .bl_positionSorted__button {
  color: $color_pink;
}

.view_columns {

  &__button {
    position: relative;
    margin-right: 12px;
    cursor: pointer;

    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f009';
      font-family: "FontAwesome";
      font-size: 30px;
    }
  }

}

.view_list {
  &__button {
    position: relative;
    cursor: pointer;
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '\f00a';
      font-family: "FontAwesome";
      font-size: 30px;
    }
  }
}

// COLUMNS
.view_columns__STYLE {
}

.view_columns {

}

.bl_products {

  margin-top: 34px;
  width: 100%;
  height: 100%;

}

.bl_products__item {
  position: relative;

  height: 100%;
  min-height: 380px; ///////////////
  margin-top: 14px;

  padding: 2px 4px 2px 4px;

  box-sizing: border-box;

  //border: 1px solid green;
}

.bl_products__img {
  margin: 0 auto;
}

.bl_products__title {
  height: 44px;

  text-align: center;
  color: #000;
  font-family: $Tahoma;
  font-size: 13px;

  &:hover {
    text-decoration: underline;
  }

}

//   view_list__STYLE

.view_list__STYLE .bl_products__item {
  min-height: 200px;
}

.view_list__STYLE .bl_products__center {
  min-height: 240px;
  height: 100%;
  display: table;

  &__wrapper {
    height: 100%;
    display: table-cell;
    vertical-align: middle;;
  }
}

.view_list__STYLE .bl_products__title {
  font-size: 20px;
}

.view_list__STYLE .bl_products__price_oldPrice {
  font-size: 20px;
}

.view_list__STYLE .bl_products__price_newPrice {
  font-size: 24px;
}

.bl_products__price {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.bl_products__price_oldPrice {
  display: inline-block;

  font-size: 16px; // 14px
  text-decoration: line-through;
}

.bl_products__price_newPrice {
  display: inline-block;

  color: $color_pink;
  font-size: 18px; // 16px
  font-weight: bold;
  text-transform: uppercase;

}

.bl_products__buy {

  width: 100%;
  height: 28px;
  margin-top: 7px;
  border: 1px solid #ee4037;
  background-color: $color_pink;
  text-align: center;

  &_text {
    color: #fefefe;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    &:before {
      content: '\f290';
      color: inherit;
      font-family: $FontAwesom;
      margin-right: 9px;
      font-size: 14px;

    }
  }
  &:hover {
    .bl_products__buy_text {
      color: #000;
      text-decoration: underline;
      transition: all .3s;
    }
  }

}

.bl_products__callBack {
  width: 100%;
  height: 28px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: rgba(238, 64, 55, 0);
  line-height: 24px;

  &__text {
    color: #000;
    font-size: 14px;
  }
}

.bl_loader {
  position: relative;
  height: 394px;

  cursor: pointer;
}

.bl_loader__img {

  display: block;
  margin: 80px auto 0; /////////////

}

.bl_loader__text {

  margin: 50px auto 0;

  text-align: center;
  width: 131px;
  color: #000;
  font-size: 24px;

  line-height: 27px;
}

.bl_pagination {
  text-align: center;
  margin: 52px auto;
  width: 100%;
}

.bl_pagination__fullItems {
  display: inline-block;
  text-align: center;
}

.bl_pagination__item {
  float: left;

}

.bl_pagination__link {
  display: block;
  width: 100%;
  height: 34px;
  color: #000;

  box-sizing: border-box;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 34px;

  &:hover {
    color: black;
  }

}

.bl_pagination__link_number {
  width: 34px;
  box-sizing: border-box;
}

.bl_pagination__arrow {
  padding: 0 16px;
}

.bl_pagination__lastPage {
  padding-left: 18px;
}

.bl_pagination__decorLine {
  border-right: 1px solid $color_grey2;
}

.bl_pagination__link_number__active {
  color: #fff;
  background-color: $color_pink;
  border: none;
  &:focus,
  &:active {
    color: #fff;
  }
}

// CALLBACK FORM

$widthBlock: 342px;

.bl_callBack,
.bl_callBack__forUser {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 628px; //////////////////

  min-height: 396px;

  transform: translate(-50%, -50%);
  background-color: #fff;

  z-index: 1000;
}

.bl_callBack__forUser {
  min-height: 270px;
}

.bl_callBack__close {
  float: right;
  margin-top: 9px;
  margin-right: 11px;

  width: 11px;
  height: 13px;
  color: black;
  font-family: $Tahoma;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    color: $color_pink;
  }
}

.bl_callBack__wrapper {
  padding: 15px 40px 0;
}

.bl_callBack__img {
  float: left;

}

.bl_callBack__title {
  margin-top: 54px; ///////////
  margin-left: 45px; /////////
  display: inline-block;

  width: 52%;
  min-height: 35px;
  color: #333;
  font-size: 16px;

}

.bl_callBack__text {
  clear: left;
  display: block;
  margin-top: 68px;
  margin-left: 6px;
  line-height: 20px;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.bl_callBack__tel {
  width: $widthBlock;
  margin: 15px auto 0;
  &_wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
  }
}

.bl_callBack__user {
  width: $widthBlock;
  margin: 15px auto;
  &_wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
  }
}

.bl_callBack__prefix {

  margin-left: 15px;
  line-height: 60px;
  color: #333;
  font-family: $Tahoma;
  font-size: 24px;
}

.bl_callBack__user_name {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 42px;

  color: #333;
  font-family: $Tahoma;
  font-size: 24px;
}

.bl_callBack__placeForTelephone,
.bl_callBack__user_fild {
  display: inline-block;
  margin-left: 13px;
  width: 212px;
  height: 31px;

  &::placeholder {
    width: 167px;

    letter-spacing: 4px;

    text-indent: 21px;
    color: #c1c1c1;
    font-family: $Tahoma;
    font-size: 20px;
    font-weight: 400;
  }

}

.bl_callBack__user_fild {

  display: block;
  margin: 0 auto 10px;
}

.bl_callBack__submit {
  float: left;
  margin-top: 28px;
  text-align: center;
  text-transform: uppercase;

  width: 155px;
  height: 28px;
  background-color: $color_pink2;
  border: 1px solid $color_borderBlack;

  &:hover {
    color: #fff;
  }

}

.bl_callBack__reset {
  margin-top: 28px;
  float: right;
  text-align: center;
  text-transform: uppercase;

  width: 155px;
  height: 28px;
  border: 1px solid black;

  background-color: #fff;
  color: black;
  font-family: $Tahoma;
  font-size: 14px;
  font-weight: 400;

}

// BLOG

.blog_fullPage {
  width: 100%;
  margin-top: 34px;
}

.blog_list {
  width: 100%;
  border-top: 1px dotted $color_dotted;
  border-bottom: 1px dotted $color_dotted;
  box-sizing: border-box;
}

.blog_list__item {

  padding: 10px 0;
  border-bottom: 1px dotted $color_dotted;
  font-family: $Tahoma;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  &:hover .blog_list__link {
    color: $color_pink;
    transition: color 0.2s;
  }
}

.blog_list__link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  color: black;
  text-transform: uppercase;
}

.blog_search {
  margin-left: -10px;
  margin-top: 42px;
  width: 100%;
  height: 112px;
  background-color: #f4f4f4;

  //border: 1px solid #000;
}

.blog_search__wrapper {

  padding-top: 17px;
  margin-left: 10px;
  margin-right: 10px;
  //border: 1px solid #000;
}

.blog_search__field {
  position: relative;

  //margin-right: 20px;
  //padding-right: 10px;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  text-indent: 15px;
  &::placeholder {

    color: #9f9f9f;
    font-family: $Tahoma;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

}

.blog_search__button {
  position: relative;
  width: 100%;
  //margin-right: 20px;
  margin-top: 12px;

  height: 28px;
  background-color: $color_pink;

  color: #fffefe;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    color: #000;
  }

  &:before {
    position: absolute;
    left: calc(50% - 44px);
    font-size: 14px;
    width: 14px;
    height: 14px;
    content: "\f002";
    font-family: $FontAwesom;
    color: inherit;
  }

}

.blog_newRecords {
  width: 100%;
  margin-top: 43px;
}

.blog_newRecords__title {

  color: black;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.blog_newRecords__fullList {
  margin-top: 20px;
}

.blog_newRecords__item {
  position: relative;
  margin-top: 20px;

  font-family: $Tahoma;
  font-size: 14px;
  padding-left: 14px;
  color: black;
  line-height: 18px;

  cursor: pointer;
  &:hover {
    color: $color_pink;
    transition: all 0.2s;
  }

  &:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color_pink2;
  }
}

// ARTICLES BLOG

.bl_article {
  display: block;
  margin-top: 74px;
  width: 100%;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &:nth-last-of-type(1){
    margin-bottom:45px;
  }

}

.bl_article__title {
  text-align: left;
  color: black;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.bl_article__breadcrumbs {
  width: 100%;
  margin-top: 7px;

  &_item {
    position: relative;
    padding-left: 12px;
    display: inline-block;
    color: $color_pink;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    text-transform: uppercase;

    &:first-of-type{
      padding-left: 0;
    }

    &:not(:nth-of-type(1)):before {
      content: "/";
      position: absolute;
      left: 0;

    }
  }
  &_link {

    color: inherit;
    display: block;
    width: 100%;

    &:hover {
      color: #000;
    }
  }
  &__active {
    font-weight: bold;
  }

}


.bl_socbuttons__fullButton{
  width: 100%;
  margin-top: 13px;
}

.bl_socbuttons__button{
  display: inline-block;
  margin-right: 8px;
}

.bl_socbuttons__like{
  display: inline-block;
  height: 25px;
  min-width:74px;
  background-color: #4267b2;
  border-radius: 4px;

}
.bl_socbuttons__like_btn{
  display: inline-block;

  line-height: 25px;
  @include sprite($btn-like);
  width: 56px;
}
.bl_socbuttons__like_currentNumber{
  vertical-align: top;
  display: inline-block;
  padding-right: 2px;
  line-height: 25px;
  color: #fff;
}

.bl_socbuttons__facebook{
  @include sprite($btn-facebook);
}



.bl_socbuttons__twitter{
  @include sprite($btn-twitter);
}

.bl_socbuttons__google{
  min-width: 77px;
}

.bl_socbuttons__google_btn{
  @include sprite($btn-google-plus);
}

.bl_socbuttons__google_currentNumber{

  vertical-align: top;
  width: 23px;
  height: 23px;
  padding: 2px 8px;
  line-height: 25px;
  border: 1px solid #CCC;
  border-radius: 4px;

}

.bl_topic{
  width: 100%;
  //max-height: 754px;
  background-color: white;
  border: 1px solid #f4f4f4;
  box-shadow: 1px 1.7px 5.8px 0.2px rgba(0, 0, 0, 0.22);
}

.bl_topic__img{
  display: block;
  width: 100%;
  padding: 8px;
}

.bl_topic__about{
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.bl_topic__author{
  display: inline-block;
  height: 100%;

  margin-left:4%;  // 39px
}

.bl_topic__string{
  min-height: 42px;
  //border: 1px solid red;
}

.bl_topic__circle_btn{
  position: relative;
  display: inline-block;
  padding-top: 12px;
  width: 35px;
  height: 35px;
  background-color: #eceaea;
  border: 1px solid white;
  box-shadow: 0 0 0 2px #e9e9e9;
  border-radius: 50%;
}

.bl_topic__time_btn{
  &:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\f133';
    font-family: $FontAwesom;
    color: #464646;
    font-size: 16px;
  }
}

.bl_topic__user_btn{
  &:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\f007';
    font-family: $FontAwesom;
    color: #464646;
    font-size: 16px;
  }
}

.bl_topic__text{
  vertical-align: top;
  display: inline-block;
  color: black;
  font-size: 16px;

  margin-left: 14px;

  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 18px;

  border-bottom: 1px solid  #eceaea;
}



.bl_topic__description{
  display: inline-block;
  //width: 100%;
}

.bl_topic__description_text{
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.bl_topic__description_button{
  display: block;

  width: 174px;


  padding:7px 34px;
  margin-top: 32px;
  margin-bottom: 22px;
  background-color: $color_pink;
  text-align: center;
  color: #fffefe;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  &:hover{
    color: #000;
    transition: all 0.2s;
    text-decoration: underline;
  }


}


/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
