@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

@media (min-width: 676px) {

  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 868px) {
  .container {
    width: 820px;
    max-width: 100%;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
    max-width: 100%;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
    max-width: 100%;

  }
}

@media (max-width: 1550px) {
  .open-call__round-ico {
    background-position: 0px -190px;
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 1300px) {

  html {
    font-size: .9px;
  }
  .logo__name {
    font-size: 70px;
  }
  .phones-list__link {
    letter-spacing: 0;
  }
  .header-desc__phones {
    max-width: 300px;
  }
  .services-menu {
    margin-right: -9px;
    margin-left: -9px;
  }
  .serv-baner-info__item:not(:last-child) {
    margin-right: 25px;
  }



  .bl_topic__text {
    font-size: 12px;
  }

  .card-product-info__min-list, .card-product-info__price {
    max-width: 100%;
  }

  .btn-bay {

    width: 100%;
    height: 40px;
    font-size: 17px;
  }
  .btn-call {
    width: 100%;
    height: 40px;
  }
  .card-product-info__btn-group {
    margin-bottom: 25px;
  }

}

@media (max-width: 1100px) {

  .main-desc-title__item {
    flex: 1;
  }

  .card-product-info__title,
  .card-product-info__min-list,
  .card-product-info__price,
  .card-product-info__btn-group,
  .card-product-info__link-social {
    overflow: hidden;
    padding-left: 20px;
  }

  .card-product-info__prior-list {
    display: none;
  }
  .card-product__galery {
    width: 40%;
  }
  .card-product__info {
    padding-left: 0;
    padding-top: 10px;
    width: 100%;
    overflow: visible;
  }

  .card-product-info__link-social {
    justify-content: flex-start;
  }

  .logo__name {
    font-size: 60px;
  }
  .header-desc__logo {
    margin-top: -6px;
  }
  .phones-list {
    flex-direction: column;
    align-items: center;
  }
  .phones-list__item {
    padding: 0;
    margin-bottom: 8px;
    &:last-child {
      margin: 0;
    }
  }
  .header-desc__open-call {
    margin-bottom: 10px;
  }
  .phones-list {
    margin: 0;
  }
  .logo__sub {
    font-size: 11px;
    font-weight: 500;
    padding-left: 3px;
  }

  .prev-ban-item__pic {
    width: 100%;
  }
  .services-baner {
    font-weight: 400;
    line-height: 1.2;
  }
  .main-banner__img {
    padding-bottom: 60%;
  }
  .brand-baner__pic {
    max-width: 80%;
  }

  .banner-list__img {
    padding: 25px;
  }
  .banner-list__sub {
    font-size: 24px;
  }
  .banner-list__item.banner-list__item--full-w .banner-list__sub {
    font-size: 28px;
  }
  .banner-bnt-text__sub {
    font-size: 20px;
  }
  .mail-form__text {
    display: none;
  }
  .mail-form__btn {
    margin: 0;
  }
  .mail-form__input {
    width: 200px;
  }

  .bl_numberOfItemShow {
    margin-top: 10px;
    margin-left: 0;
  }

  .blog_list__item {
    font-size: 22px;
  }

  .blog_search {
    margin-left: 0;
  }

  .header-desc__search {
    transform: translateY(50%);
  }

  .bl_fullStars {
    padding-left: 20px;
  }
  .bl_minRaiting__averageValue {
    clear: none;
  }

  .blog_search__field {
    text-indent: 5px;
  }

  .blog_search__button:before {
    left: 5px;
  }

  .blog_search {
    margin-left: 1%;
    margin-right: 1%;
  }

  .bl_topic__circle_btn {
    float: left;
    width: 26px;
    height: 26px;
  }
  .bl_topic__time_btn:after,
  .bl_topic__user_btn:after {
    font-size: 12px;
  }

  .bl_topic__text {
    font-size: 9px;
    margin-left: 3px;
  }

}

@media (max-width: 1026px) {

  .header-page__nav-close:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-indent: 0;
    font-size: 14px;
    color: #ff4e54;
  }

  .main-desc-title__item {
    font-size: 16px;
  }

  .top-head-baner {
    display: none;
  }
  .services-menu {
    margin: 0;
  }
  .services-baner__list {
    display: none;
  }
  .open-menu-min {
    display: block;
    padding-right: 80px;
    box-sizing: content-box;
  }
  .open-menu-main {
    display: flex;
  }

  .open-call.open-call--round-sticker {
    bottom: 0;
  }


  .services-baner {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .header-page {
    padding-top: 46px;
  }

  .header-page__btn {
    margin-bottom: 15px;
  }

  .header-page__nav-close {
    position: absolute;
    opacity: 0.8;
    top: 15px;
    right: 15px;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    outline: none;
  }

  .header-page__nav-close {
    display: block;
    cursor: pointer;
  }

  .header-page__nav-close:after,
  .header-page__nav-close:before {
    content: '';
  }

  .bl_ancor {
    right: 0;
    bottom: 0;
    width: 44px;
  }

  .header-desc__services-menu, .main-menu {
    position: fixed;
    width: 50%;
    height: calc(100% - 46px);
    left: 0;
    top: 46px;
    padding: 20px;
    display: block;
    background: rgba(0, 0, 0, .9);
    z-index: 5;
    color: #fff;
    transform: translateX(-100%);
    transition: transform .3s, visibility .3s;
    visibility: hidden;
    overflow: auto;
  }

  .services-menu__link, .main-menu__link {
    &:after {
      display: none;
    }
    font-size: 16px;
    margin-bottom: 7px;
    padding: 0 0 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    color: #fff;

    &:hover,
    &:focus {
      color: $color_pink;
    }

  }
  .services-menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .open-sub-menu {
    .header-desc__services-menu {
      transform: translateX(0%);
      visibility: visible;
    }
    .open-menu-min {
      width: 30px;

      &:before {
        -webkit-transform: rotate(45deg) translateY(6px) translateX(5px);
        transform: rotate(45deg) translateY(7px) translateX(7px);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }

      &:after {
        -webkit-transform: rotate(314deg) translateY(-6px) translateX(5px);
        transform: rotate(314deg) translateY(-6px) translateX(5px);

      }
    }
  }

  .open-main-menu {
    .main-menu {
      transform: translateX(0%);
      visibility: visible;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 32px 20px 20px 20px;
    }
    .open-menu-main {
      background: #fff;
      color: $black;
      font-weight: 600;
    }
  }

  .header-desc__phones {
    display: none;
  }
  .header-desc__search-menu {
    padding: 0;
    width: 40%;
    margin: 0;
    flex: 1.5;
  }
  .header-desc__logo {
    padding: 0;
    flex: 1;
  }

  .expander {
    display: block;
    color: #eee;
    font-size: 18px;
    float: right;
    cursor: pointer;
    padding: 6px 11px;
  }

  .main-menu__item > .expander {
    padding: 0 0 10px 5px;
  }
  .col-li-3 {
    display: block !important;
  }

  .header-desc__cart-head {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    max-width: 150px;
  }
  .main-nav {
    background: none;
    border-bottom: 1px solid #202020;
  }

  .bl_filters,
  .bl_filters__productsFilters {
    display: block;
  }

  #mainNavigationWrap .level:after {
    content: "";
    display: table;
    clear: both;
  }

  #anchor-top .mainNavigation .level-2 {
    border-top: none !important;
  }
  #anchor-top .mainNavigation .level-2 {
    position: relative !important;
  }

  #anchor-top .mainNavigation .level-2 .level-3 {
    min-height: auto !important;
    background: transparent !important;
    width: 100% !important;
    padding: 5px !important;
  }

  #anchor-top .mainNavigation .level-2 .level-3 .last-ul {
    padding: 5px 0 8px 18px;
  }
  #anchor-top .mainNavigation .level-2 .level-3 .list ul li a,
  #anchor-top .mainNavigation .level-2 .level-3 .list ul li .link-level-3 {
    color: #fff !important;
  }

  #anchor-top .mainNavigation .level-2 .images {
    display: none !important;
  }

  #anchor-top .mainNavigation .level-2 .sideNavigation {
    display: none !important;
  }

  #anchor-top .mainNavigation .level-2 {
    background: transparent !important;
  }

  .open-call.open-call--sticker {
    display: block;
  }

  .pagination a.bl_pagination__arrow {
    width: 34px;
    padding: 0;
  }


}

@media (max-width: 991px) {

  .rubric__title {
    width: 100%;
    text-align: center;
  }

  .rubric__title_margin {
    margin-left: 24px;
  }

  .bl_filters__allFilters {
    margin-top: 0;
    padding: 0;
  }

  .rubric__title_text {
    text-align: center;
  }

  .bl_filters {
    display: none;
    min-height: 25px;
    margin: 0;
  }

  .bl_filters__productsFilters,
  .bl_sortField{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow-scrolling: auto;
    z-index: 205;
  }
  .bl_filters__productsFilters.active,
  .bl_sortField.active{
    display: block;
  }

  .popover.right.ocfilter-option-popover{
    top: -194px!important;
    left: 20px!important;
  }


  .popover.right>.arrow{
    transform: rotate(90deg) translate(-31px,-88px);
  }



  .popover.top.in{
    top: -182px!important;
    left: initial;
    right: 0;
  }

  .popover.top>.arrow{
    transform: rotate(180deg) translateY(92px);
  }


  .bl_filters__allFilters_wrapper{
    background-color: #fff;
  }

  .ocfilter-option .option-values{
    position: relative;
    height: 335px;
    overflow-y: auto;
  }


  .list-group-item{
    margin-top: 30px;
  }

  .btn_close__filters,
  .btn_close__sortField{
    display: block;
  }

  .bl_filters .decor_triangle:before,
  .bl_filters .decor_triangle__active:before,
  .decor_point:before,
  .corrected.decor_lineGorizontal:before,
  .decor_plus:before{
    display: none;
  }
  .cat_item__mob{
    display: block;
  }
  .cat_item__mob_active{
    font-weight: bold;
  }

  .decor_lineGorizontal:before {
    content: "";
    left: -16px;
    top: 0;
    font-size: 8px;
  }

  .decor_point_2:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 10px;
    color: inherit;
    font-family: $FontAwesom;
    font-size: 6px;
    transition: all .2s;
  }


  .ocfilter-option .option-name {
    width: calc(100% - 10px);
    padding-left: 20px;
    text-transform: capitalize;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 auto 15px;
    display: block;
    color: #000;
  }


  .option-values label{
    padding: 0;
  }

  .option-values label:before{
    left: 15px;
  }


 .bl_filters__allFilters .decor_triangle:before, .bl_filters__allFilters .decor_triangle__active:before{
    content: "\f107";
    left: initial;
    right: 15px;
  }
  .bl_filters__allFilters .decor_triangle:before{
    transform: rotate(180deg);
  }

  .bl_filters__allFilters .decor_triangle__active:before{
    transform: rotate(0deg);
  }

  .bl_filter__label input:checked~.filter_text:after{
    left: -10px;
    width: 20px;
    height: 20px;
  }


  .option-values {
    text-align: center;
  }

  .option-values label{
    max-width: 300px;
  }
  .option-values label:before{
    border-color: #000;
  }

  .ocfilter-option label a{
    margin-left: 15px;
    display: block;
    width: auto;
    text-align: left;
  }

  .panel.ocfilter {
    position: relative;
    margin: 10px auto;
    z-index: 1000;
  }

  .btn_categories {
    display: block;
  }

  .btn_sorted__mobile{
    display: block;
  }

  .btn_filters {
    display: block;
  }

  .bl_view{
    display: none;
  }


  .bl_filters__allFilters {
    min-height: initial;
    margin-top: 6%;
    border-top: 1px solid $color_pink;
    padding: 0 0 0 20px;
  }

  .option-values label{
    padding: 0 0 0 20px;
  }

  .blog_list__link {
    text-align: center;
  }
  .bl_topic__text {
    padding-bottom: 0;
    padding-top: 6px;
  }

  .bl_topic__text {
    font-size: 12px;
    margin-left: 4px;
  }

  .bl_article {
    margin-top: 20px !important;
  }

  .row-flex {
    display: block;
    flex: none;
  }

}

@media (max-width: 868px) {
  .top-panel-footer__soc-text {
    display: none;
  }
}

@media (max-width: 850px) {

  .card-product-info__min-list {

    .min-info-list {
      margin-bottom: 20px;
    }
  }

  .good-price {
    margin-bottom: 0;
  }

  .banner-sect__prev-category {
    display: none;
  }
  .banner-sect__carousel {
    width: 100%;
    padding: 0;
  }

  .main-banner__img {
    padding-bottom: 60%;
  }

  .header-desc {
    position: relative;
    padding: 20px 0;
  }

  .header-desc__productCompare {
    position: absolute;
    top: 0;
    right: 108px;
  }

  .header-desc__search {
    position: fixed;
    width: 50%;
    height: calc(100% - 46px);
    background: rgba(0, 0, 0, 0.9);
    right: 0;
    top: 46px;
    padding: 20px;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform .3s, visibility .3s;
    z-index: 5;
  }
  .cart-head__title {
    display: none;
  }

  .head-search:before {
    top: 32px;
    bottom: auto;
    left: 30px;
    -webkit-filter: grayscale(100%);
  }

  .result_autocomplete.bl_autocompleteSearch {
    width: 80%;
    top: 10px;
  }

  .head-search__ico {
    top: 20px;
    left: 20px;
    padding: 0;
  }
  .header-desc__search-menu {
    width: 0;
    height: 0;
    flex: 0;
  }
  .mobile-ico {
    display: flex;
  }
  .header-desc__cart-head, .header-desc__logo, .mobile-ico {
    flex: 1;
  }
  .header-desc__cart-head {
    justify-content: center;
  }
  .header-desc > .container {
    align-items: center;
  }

  .open-search {
    .header-desc__search {
      transform: translateX(0%);
      visibility: visible;
    }
  }
  .close-search {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    right: 23px;
    top: 25px;

    &:before, &:after {
      content: '';
      display: block;
      width: 80%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(45deg);
    }
    &:before {
      width: 80%;
      height: 2px;
    }

    &:after {
      width: 2px;
      height: 80%;
    }

  }
  .head-search__input {
    padding: 0 37px;
  }

  .top-panel-footer__soc-text {
    display: none;
  }

  .social-list__wrapper,
  .top-panel-footer__soc-list {
    display: flex;
    justify-content: center;
  }

  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 11px;
  }

  .top-panel-footer {
    display: block;
  }

  .mail-form__input {
    width: 50%;
  }

  .mail-form__btn {
    width: 50%;
  }

  .mail-form__input {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .bl_review__raiting {
    margin-top: 10px;
  }

  .review_textarea {
    margin-top: 25px;
  }

  .base-list {
    margin-bottom: 15px;
  }
  .base-list li {
    width: 50%;
    display: table-cell;
    padding-bottom: 12px;
    line-height: normal;
  }
  .base-list li:before {
    font-size: 28px;
    line-height: 23px;
  }

  .card-product-info__right {
    display: block;
    clear: both;
    max-width: initial;
  }

  .bl_loader{
    max-width: 240px;
    border: 1px solid $color_grey2;
    margin: 0 auto;
  }
  .bl_loader__img{
    display: none;
  }
  .bl_loader__text{
    width: auto;
    margin: 5px auto;
    font-size: 18px;
  }

  .bl_pagination{
    margin-top: 20px;
  }

}

@media (max-width: 700px) {

  .card-product-info__title,
  .card-product-info__min-list,
  .card-product-info__price,
  .card-product-info__btn-group,
  .card-product-info__link-social {
    padding: 0;
  }

  .card-product__galery {
    float: none;
  }

  .main-descript-tab li span {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-desc-title__item {
    padding: 10px 15px;
  }
  .main-desc-title {
    display: block;
    border: none;
  }

  .main-desc__item {
    padding: 10px 0;
  }

  .main-desc-title__item {
    border-bottom: 1px solid red;
    width: 100%;
    max-width: 100%;
  }

  .view_list__STYLE .bl_products__wrapperOne {
    width: 100%;
    margin: 0 auto;
  }

  .card-product__mob-title {
    padding-bottom: 30px;
    display: block;
  }
  .card-product-info__title {
    display: none;
  }
  .card-product__info {
    padding-left: 0;
    width: 100%;
  }
  .card-product.main__card-product {
    display: block;
  }

  .product-galery__main-img {
    padding-bottom: 60%;
  }

  .product-galery__pic {
    width: 60%;
  }

  .card-product__galery {
    width: 100%;
  }


  .social-list__wrapper,
  .top-panel-footer__soc-list {
    display: none;
  }

  .social-list {
    display: flex;
    justify-content: normal;
    margin-bottom: 0;
  }


  .footer-desc {
    display: inline-block;
    padding-top: 30px;
    position: relative;
  }

  .foot-info-list__title ~ * {
    display: none;
  }

  .foot-info-list__title.foot-info-list__title--mob {
    display: block;
  }

  .zoo-item .zoo-img {
    background-size: contain;
  }

  .h3-title {
    position: relative;
    font-size: 18rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 6px;
    padding-left: 39px;
    padding-right: 30px;
  }

  .top-panel-footer {
    padding: 0;
  }

  .footer-desc {
    width: 100%;
    padding-top: 0;
  }

  .foot-info-list__title.active ~ * {
    display: block;
  }

  .foot-info-list__title.active {
    .h3-title:before {
      transform: rotate(134deg);
    }
  }
  .foot-info-list__mail, .foot-info-list__bank-img {
    margin-bottom: 34px;
  }
  .container {
    width: 100%;
  }

  .bl_fullStars {
    padding-left: 0;
  }

  .foot-info-list__list,
  .mail-form,
  .top-panel-footer__soc-list {
    margin-bottom: 34px;
  }

  .foot-info-list__list,
  .foot-info-list__bank-img,
  .foot-info-list__desc,
  .foot-cont-list,
  .foot-info-list__mail {
    padding-left: 42px;
  }
  .foot-info-list__expander {
    background: #202020;
    position: absolute;
    top: -6px;
    left: 0;
    display: block;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    width: 29px;
    height: 29px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .top-panel-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-color: transparent;
  }
  .mail-form__input {
    border: 1px solid #dfdfdf;
  }
  .card-product__mob-title {
    text-align: center;
  }

  .banner-list__link:before {
    display: none;
  }

  .banner-list__img {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }

  .banner-list__desc {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  .banner-list__link {
    padding-bottom: 24%;
  }
  .banner-list__item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .banner-bnt__img {
    display: none;
  }

  .banner-bnt {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .banner-bnt__desc {
    margin-bottom: 10px;
  }
  .foot-info-list__title {
    margin-bottom: 20px;
  }

  .bl_numberOfItemShow {
    display: block;
    margin-top: 2%;
  }

  .bl_topic__circle_btn {
    display: none;
  }

  .bl_topic__time_btn:after,
  .bl_topic__user_btn:after {
    font-size: 10px;
  }

  .bl_topic__text {
    padding-top: 4px;
    margin-left: 4px;
  }

}

@media (max-width: 500px) {

  .main-descript-tab li {
    display: block;
    padding: 8px 20px;
  }

  .mail-form {
    display: block;
  }
  .mail-form__input {
    width: 100%;
  }
  .mail-form__btn {
    width: 100%;
  }

  .card-product-info__btn-group, .card-product-info__link-social, .card-product-info__min-list, .card-product-info__price {
    display: block;
  }

  .leng-item {
    justify-content: center;
    padding: 0 0 0 10px;
  }
  .leng {
    width: 80px;
    font-size: 13px;
  }
  .leng-item__ico {
    width: 17px;
    height: 13px;
  }

  .leng-item__text {
    margin-right: 14px;
  }

  .open-menu-min {
    padding-right: 50px;
  }
  .header-desc__services-menu, .main-menu, .header-desc__search {
    width: 100%;
  }
  .logo__name {
    font-size: 40px;
  }
  .link-btn-categ.main-banner__btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-color: inherit;
  }

  .header-desc__productCompare {
    display: none;
  }

  .main-banner__img {
    padding-bottom: 70%;
  }
  .banner-list__link, .banner-list__item.banner-list__item--full-w .banner-list__link {
    padding-bottom: 50%;
  }

  .link-btn-categ.main-banner__btn {
    bottom: 4%;
  }

  .banner-list__desc {
    font-size: 18px;
  }
  .banner-list__sub {
    font-size: 20px;
  }

  .banner-list__item.banner-list__item--full-w .banner-list__desc {
    max-width: 100%;
  }
  .banner-list__item.banner-list__item--full-w .banner-list__sub {
    font-size: 20px;
  }
  .banner-list__item.banner-list__item--full-w .banner-list__title {
    font-size: 18px;
  }
  .banner-bnt-text__title {
    font-size: 18px;
  }

  .rubric__title_margin {
    margin-left: 3%;
  }

  .rubric__title_text {
    font-size: 20px;
  }

  .bl_article__title {
    font-size: 20px;
    line-height: 28px;
  }

  .bl_article__breadcrumbs_item {
    font-size: 18px;
    line-height: 1;
  }

  .bl_topic__description_text {
    font-size: 16px;
  }

  .bl_callBack__forUser .bl_callBack__user_fild {
    width: auto;
  }
  .bl_callBack__tel {
    width: auto;
  }
  .bl_callBack__placeForTelephone {
    margin-left: 0;
  }
  .bl_callBack__submit-btn {
    display: block;
  }
  .bl_callBack__submit {
    width: 100%;
    margin-bottom: 7px;
  }
  .bl_callBack__reset {
    width: 100%;
  }
  .error_text {
    height: 22px;
  }
  .bl_callBack__close, .popup_likeShopbag__close {
    top: 0;
    right: 0;
  }

  table {
    overflow-x: auto;
    display: block;
  }

  .review_item .bl_fullStars {
    margin-top: 10px;
    clear: both;
  }

  .bl_socbuttons__fullButton {
    width: 50%;
  }

  .bl_products__img{
    width: 100%;
    min-height: initial;
    max-width: initial;
  }


  .pagination a.bl_pagination__firstPage,
  .pagination a.bl_pagination__lastPage{
    width: 34px;
    height: 34px;
    font-size: 0;
  }
  .pagination a.bl_pagination__firstPage:before,
  .pagination a.bl_pagination__lastPage:before{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 28px;
    font-family: $FontAwesom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .pagination a.bl_pagination__firstPage:before{
    content: "\f100";
  }
  .pagination a.bl_pagination__lastPage:before{
    content: "\f101";
  }

}

@media (max-width: 350px) {
  .pagination a.bl_pagination__arrow {
    padding: 0 9px;
  }
}

@media (max-width: 320px) {

  .link-btn-categ.main-banner__btn {
    bottom: 2%;
  }
}



















